@charset "UTF-8"

body {

	}
/* Slide show apresentação 

<style>
		* {margin: 0; padding: 0;}
		body {background: transparent;}
		a,img {border: none;}
		.trs {-webkit-transition:all ease-out 0.5s;
			-moz-transition:all ease-out 0.5s;
			-o-transition:all ease-out 0.5s;
			-ms-transition:all ease-out 0.5s;
			transition:all ease-out 0.5s;}
		
		#slider {position: relative; z-index: 1;}
		#slider a { position: absolute; top: 0; left: 0; opacity: 0;filter:alpha(opacity=0);}
		.ativo {opacity: 1!important; filter:alpha(opacity=100)!important;}
		
		/*controladores*/ /*
		span {background: #0190EE; cursor: pointer; opacity: 0;filter:alpha(opacity=0); position: absolute; bottom: 40%; width: 43px; height: 43px; z-index: 5;}
		.next {right: 10px;}
		.next:before,.next:after {left: 21px;}
		.next:before {
			-webkit-transform: rotate(-42deg);
			top: 5px;
		}
		.next:after {
			-webkit-transform: rotate(-132deg);
			top: 19px;
		}
		.next:before,.next:after,.prev:before,.prev:after {content: "";
			height: 20px;
			background: #fff;
			width: 1px;
			position: absolute;

		}

		.prev {left: 10px;}
		.prev:before,.prev:after {left: 18px;}
		.prev:before {
			-webkit-transform: rotate(42deg);
			top: 5px;
		}
		.prev:after {
			-webkit-transform: rotate(132deg);
			top: 19px;
		}


		figure:hover span {opacity: 0.76;filter:alpha(opacity=76);}

		figure {
			max-width: 937px;
			height: 354px;
			position: relative;
			overflow: hidden;
			margin: 50px auto;
		}

		figcaption {padding-left: 20px;color: #fff; font-family: "Kaushan Script","Lato","arial"; font-size: 22px; background: rgba(1, 144, 238, 0.76); width: 100%; position: absolute; bottom: 0; left: 0; line-height: 55px; height: 55px; z-index: 5}
	</style>
*/

div#interface {
    width: 1366px;
    height: 1000px;
    background-image: url('_imagens/fundo.png');
    margin: -20px auto 0 auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 20px;
}

#logo{

position: absolute;
margin: 48px;
top: -31px;

}



#cabecalho {

	background-image: url('_imagens/listra6.jpg');
	width: 1366px;
	height: 90px;
}



#menu {
	text-align: right;
    width: 1000px;
	height: 55px;
}

#menu ul {

width: 1328px;
height: 55px;
list-style-type: none;
position: absolute;
    top: 90px;
    left: 129px;
background-image: url('_imagens/bola.jpg');

}

#menu li {

display: inline-block;
padding: 25px;
font-size: 20px;
font-family: evolution;
margin: -7px;

}

#menu li a {
	color: #ffffff;
	text-decoration: none;
	
}

#menu li a:hover {
	color: #ffcc00;
}